<!doctype html>

<!--

                               ____                  
                            _.' :  `._               
                        .-.'`.  ;   .'`.-.           
               __      / : ___\ ;  /___ ; \      __  
             ,'_ ""=-.:__;".-.";: :".-.":__;.-="" _`,
             :' `.t""=-.. '<@.`;_  ',@:` ..-=""j.' `;
                  `:-.._J '-.-'L__ `-.-' L_..-;'     
                    "-.__ ;  .-"  "-.  : __.-"       
                        L ' /.======.\ ' J           
                         "-.   "__"   .-"            
                        __.l"-:_JL_;-";.__           
                     .-j/'.;  ;""""  / .'\"-.        
                   .' /:`. "-.:     .-" .';  `.      
                .-"  / ;  "-. "-..-" .-"  :    "-.   
             .+"-.  : :      "-.__.-"      ;-._   \  
             ; \  `.; ;                    : : "+. ; 
             :  ;   ; ;                    : ;  : \: 
             ;  :   ; :                    ;:   ;  : 
            : \  ;  :  ;                  : ;  /  :: 
            ;  ; :   ; :                  ;   :   ;: 
            :  :  ;  :  ;                : :  ;  : ; 
            ;\    :   ; :                ; ;     ; ; 
            : `."-;   :  ;              :  ;    /  ; 
             ;    -:   ; :              ;  : .-"   : 
             :\     \  :  ;            : \.-"      : 
              ;`.    \  ; :            ;.'_..-=  / ; 
              :  "-.  "-:  ;          :/."      .'  :
               \         \ :          ;/  __        :
                \       .-`.\        /t-""  ":-+.   :
                 `.  .-"    `l    __/ /`. :  ; ; \  ;
                   \   .-" .-"-.-"  .' .'j \  /   ;/ 
                    \ / .-"   /.     .'.' ;_:'    ;  
                     :-""-.`./-.'     /    `.___.'   
                           \ `t  ._  /               
                            "-.t-._:'                

-->

<html lang="zh-CN">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=1024" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <title>PayKitty A2</title>
    
    <meta name="description" content="impress.js is a presentation tool based on the power of CSS3 transforms and transitions in modern browsers and inspired by the idea behind prezi.com." />
    <meta name="author" content="Bartek Szopka" />

    <link href="http://fonts.googleapis.com/css?family=Open+Sans:regular,semibold,italic,italicsemibold|PT+Sans:400,700,400italic,700italic|PT+Serif:400,700,400italic,700italic" rel="stylesheet" />

    <link rel="stylesheet" href="{{ url_for('static', filename='css/impress-demo.css') }}">
    
</head>

<div id="impress">


    <div id="bored" class="step slide" data-x="-1200" data-y="-1500">
         <q><b>software engineering: PayKitty</b></q>
         <br>
         <p1>Group A2 </p1>
         <br>
         <p2>Payment Transaction Processing</p2>
         <br>
         <br>
         <br>
         <p2>Group Members</p2>
         <ul>  
            <font size="3px"> 
            <li>叶东强子 3130104011  </li> 
            <li>张逸瑶&nbsp&nbsp&nbsp&nbsp&nbsp3130000629  </li> 
            <li>杨威&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp3130103723</li> 
            <li>廖丽诚&nbsp&nbsp&nbsp&nbsp&nbsp3130104017  </li> 
            <li>罗俊丹&nbsp&nbsp&nbsp&nbsp&nbsp3130000760  </li> 
            <li>曲衡&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp3130000569 </li>
        </ul> 
        </font> 
    </div>

    <!--
        
        The `id` attribute of the step element is used to identify it in the URL, but it's optional.
        If it is not defined, it will get a default value of `step-N` where N is a number of slide.
        
        So in the example below it'll be `step-2`.
        
        The hash part of the url when this step is active will be `#/step-2`.
        
        You can also use `#step-2` in a link, to point directly to this particular step.
        
        Please note, that while `#/step-2` (with slash) would also work in a link it's not recommended.
        Using classic `id`-based links like `#step-2` makes these links usable also in fallback mode.
        
    -->
    <div class="step slide" data-x="-200" data-y="-1500">
        <q>在<strong>支付事务处理系统</strong>中，我们小组旨在完成<strong>支付事务处理业务</strong>部分。</q>
        <br>
        <strong> 内容包括：</strong><br>
        ·&nbsp查看订单列表<br>
        ·&nbsp显示订单详情<br>
        ·&nbsp筛选搜索订单<br>
        ·&nbsp买家确认收货<br>
        ·&nbsp卖家确认发货<br>
        ·&nbsp订单投诉<br>
    </div>

    <div class="step slide" data-x="800" data-y="-1500">
        <q>我们的成果：<br>
        <a href="http://www.softwarex.ml/">·&nbspsoftwarex.ml</a> <br/>
        <a href="http://www.paykitty.ml/">·&nbsppaykitty.ml</a> <br/>
        </q>
    </div>

    <div class="step slide" data-x="1800" data-y="-1500">
        <q>相信对于要实现的功能大家并不陌生，接下来，我们来介绍一下我们所用的<strong>框架</strong>和<strong>技术</strong>吧~</q>
    </div>

    <!--
        
        This is an example of step element being scaled.
        
        Again, we use a `data-` attribute, this time it's `data-scale="4"`, so it means that this
        element will be 4 times larger than the others.
        From presentation and transitions point of view it means, that it will have to be scaled
        down (4 times) to make it back to its correct size.
        
    -->
    <div id="frontEnd" class="step" data-x="0" data-y="0" data-scale="4">
        <span class="try">前端采用了</span>
        <h1>html+css</h1>
        <a href="/a2" target="_blank">www.paykitty.ml/a2</a>
    </div>

    <div id="backEnd" class="step" data-x="850" data-y="3000" data-rotate="90" data-scale="5">
        <span class="try">后端采用了</span>
        <h1>python+flask</h1>
    </div>

    <div id="ing3" class="step" data-x="450" data-y="3000" data-z="-3000" data-rotate="300" data-scale="1">
        <p>Flask 是一个用于 Python 的&nbsp;<b class="scaling">微</b>&nbsp;型网络开发框架</p>
        <br />
        <p>Flask可以变成你任何想要的东西，一切恰到好处，<b class="rotating">由你做主</b></p>
    </div>

    <div id="database" class="step" data-x="3500" data-y="2100" data-rotate="180" data-scale="6">
        <span class="try">数据库采用了</span>
        <h1 style="text-align: center">ORM</h1>
    </div>

    <div id="ing2" style="text-align: center;" class="step" data-x="2825" data-y="2325" data-z="-3000" data-rotate="300" data-scale="1">
        <p><b class="rotating">对象关系映射</b>，是一种程序技术，用于实现面向对象编程语言里不同类型系统的数据之间的转换</p>
        <br />
        <p>从效果上说，它其实是创建了一个可在编程语言里使用的<b class="positioning">“虚拟对象数据库”</b></p>
    </div>

    <div id="ormIntro2" class="step" data-x="2825" data-y="2325" data-z="-6000" data-rotate="300" data-scale="0.2">
        <img src="http://i3.buimg.com/f70caad851b2359b.jpg">
    </div>

    <div id="ing" class="step" data-x="3500" data-y="-850" data-rotate="270" data-scale="6">
        <p>为了<b class="positioning">方便沟通</b>, <b class="rotating">使用便捷</b> and <b class="scaling">增加逼格</b>，我们还放了restful api文档</p>
        <a style="font-size: 30px" href="/docs" target="_blank">www.paykitty.ml/docs</a>
    </div>
    <div id="ing4" class="step" data-x="3100" data-y="-850" data-z="-3000" data-rotate="300" data-scale="1">
        <p>一种软件架构风格，设计风格而不是标准，只是提供了一组设计原则和约束条件。它主要用于客户端和服务器交互类的软件。基于这个风格设计的软件可以更<b class="rotating">简洁</b>，更有<b class="positioning">层次</b><b class="scaling">更易于实现缓存等机制</b></p>
    </div>
    <div id="bugManage" class="step" data-x="6700" data-y="-900" data-scale="6">
        <p>还有一个<b>小细节</b>， 用户在使用中发现bug，系统会<b class="imagination">自动给开发者发邮件</b>报告错误</p>
        &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp<a href="/bug">www.paykitty.ml/bug</a>
    </div>
    <div id="great" class="step" data-x="6300" data-y="2000" data-rotate="20" data-scale="4">
        <p>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp更多精彩</p>
        <q>我们会在将来的开发中</q>
        <h1>&nbsp&nbsp&nbsp&nbsp一一实现</h1>
    </div>
    <div id="one-more-thing" class="step" data-x="6000" data-y="4000" data-scale="2">
        <p>我们的展示到此结束</p>
    </div>
    <!--

        And the last one shows full power and flexibility of impress.js.

        You can not only position element in 3D, but also rotate it around any axis.
        So this one here will get rotated by -40 degrees (40 degrees anticlockwise) around X axis and
        10 degrees (clockwise) around Y axis.

        You can of course rotate it around Z axis with `data-rotate-z` - it has exactly the same effect
        as `data-rotate` (these two are basically aliases).

    -->
    <div id="its-in-3d" class="step" data-x="6200" data-y="4300" data-z="-100" data-rotate-x="-40" data-rotate-y="10" data-scale="2">
        <p><span class="have">感</span> <span class="you">谢</span> <span class="noticed">大</span> <span class="its">家</span> <span class="in">的</span>观看</p>
        <span class="footnote">么么哒~</span>
    </div>

    <!--
        
        So to summarize of all the possible attributes used to position presentation steps, we have:
        
        * `data-x`, `data-y`, `data-z` - they define the position of **the center** of step element on
            the canvas in pixels; their default value is 0;
        * `data-rotate-x`, `data-rotate-y`, 'data-rotate-z`, `data-rotate` - they define the rotation of
            the element around given axis in degrees; their default value is 0; `data-rotate` and `data-rotate-z`
            are exactly the same;
        * `data-scale` - defines the scale of step element; default value is 1
        
        These values are used by impress.js in CSS transformation functions, so for more information consult
        CSS transfrom docs: https://developer.mozilla.org/en/CSS/transform
        
    -->
    <div id="overview" class="step" data-x="3000" data-y="1500" data-scale="10">
    </div>

</div>

<!--
    
    Hint is not related to impress.js in any way.
    
    But it can show you how to use impress.js features in creative way.
    
    When the presentation step is shown (selected) its element gets the class of "active" and the body element
    gets the class based on active step id `impress-on-ID` (where ID is the step's id)... It may not be
    so clear because of all these "ids" in previous sentence, so for example when the first step (the one with
    the id of `bored`) is active, body element gets a class of `impress-on-bored`.
    
    This class is used by this hint below. Check CSS file to see how it's shown with delayed CSS animation when
    the first step of presentation is visible for a couple of seconds.
    
    ...
    
    And when it comes to this piece of JavaScript below ... kids, don't do this at home ;)
    It's just a quick and dirty workaround to get different hint text for touch devices.
    In a real world it should be at least placed in separate JS file ... and the touch content should be
    probably just hidden somewhere in HTML - not hard-coded in the script.
    
    Just sayin' ;)
    
-->
<script>
if ("ontouchstart" in document.documentElement) { 
    document.querySelector(".hint").innerHTML = "<p>Tap on the left or right to navigate</p>";
}
</script>

<!--
    
    Last, but not least.
    
    To make all described above really work, you need to include impress.js in the page.
    I strongly encourage to minify it first.
    
    In here I just include full source of the script to make it more readable.
    
    You also need to call a `impress().init()` function to initialize impress.js presentation.
    And you should do it in the end of your document. Not only because it's a good practice, but also
    because it should be done when the whole document is ready.
    Of course you can wrap it in any kind of "DOM ready" event, but I was too lazy to do so ;)
    
-->
<script src="{{ url_for('static', filename='js/impress.js') }}"></script>
<script>impress().init();</script>
<!--
    
    The `impress()` function also gives you access to the API that controls the presentation.
    
    Just store the result of the call:
    
        var api = impress();
    
    and you will get three functions you can call:
    
        `api.init()` - initializes the presentation,
        `api.next()` - moves to next step of the presentation,
        `api.prev()` - moves to previous step of the presentation,
        `api.goto( idx | id | element, [duration] )` - moves the presentation to the step given by its index number
                id or the DOM element; second parameter can be used to define duration of the transition in ms,
                but it's optional - if not provided default transition duration for the presentation will be used.
    
    You can also simply call `impress()` again to get the API, so `impress().next()` is also allowed.
    Don't worry, it wont initialize the presentation again.
    
    For some example uses of this API check the last part of the source of impress.js where the API
    is used in event handlers.
    
-->

</body>
</html>
